##################################
# Maven
##################################
target/
!.mvn/wrapper/maven-wrapper.jar

##################################
# IDE
##################################
.idea/
*.iml

##################################
# Logs
##################################
logs/
*.log

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Local config
##################################
application-local.yml
application-local.properties