@let resto = restaurant();

<div (mouseenter)="hover.emit(resto.id || null)" (mouseleave)="hover.emit(null)" (click)="goToRestaurant()"
  class="bg-white rounded-2xl overflow-hidden border-2 border-black cursor-pointer mb-5 p-4 flex flex-col hover:bg-[#EDC87F]/10 transition-colors">

  <div class="flex justify-between items-start gap-4">
    <div class="flex-1 flex flex-col">
      <div class="flex items-center gap-2 mb-2">
        <h2 class="text-lg font-bold text-black leading-tight">
          {{ resto.name }}
        </h2>
        <app-rating-badge [rating]="resto.ratingAvg" />
      </div>

      <div class="flex items-center text-xs text-gray-600 font-semibold gap-1">
        <svg lucideMapPinCheckInside class="w-4 h-4" />
        <span> {{ resto.visitorsCount || 0 }}</span>
        <span class="mx-1 text-black">•</span>
        <svg lucideBanknoteCheck  class="w-4 h-4" />
        <span class="font-bold text-black">
          {{ resto.pricePerPersonAvg ? resto.pricePerPersonAvg + ' € / pers.' : 'Prix N/C' }}
        </span>
      </div>

      <div class="text-xs text-gray-500 mt-2 font-medium">
        <span>{{ resto.address | postalCode }}</span>
        <span class="mx-1">•</span>
        <span>{{ resto.updatedAt | date:'d MMM y':'':'fr'}}</span>
      </div>
    </div>

    @if (resto.photos && resto.photos.length > 0) {
    <div class="w-24 h-24 flex-shrink-0 rounded-xl overflow-hidden border-2 border-black bg-gray-100">
      <img [src]="resto.photos[0]" [alt]="resto.name" class="w-full h-full object-cover" />
    </div>
    }
  </div>

  @if (resto.cuisineTypes && resto.cuisineTypes.length > 0) {
  <div class="flex flex-wrap gap-2 mt-4">
    @for (type of resto.cuisineTypes; track $index) {
    <app-cuisine-tag [label]="type" />
    }
  </div>
  }

  <a [href]="googleSearchUrl()" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()"
    class="mt-4 w-full flex justify-center items-center gap-2 bg-white border-2 border-black hover:bg-black hover:text-white text-black font-bold py-2 px-3 rounded-xl text-xs transition-colors">
    Rechercher sur Google
  </a>

</div>